/* fonts.css — Polices auto-hébergées : aucune requête vers un service tiers.
   Playfair Display (Claus Eggers Sørensen) et Inter (Rasmus Andersson),
   SIL Open Font License 1.1 — voir assets/fonts/LICENSE.md.
   Sous-ensemble : caractères du site + marge française (186 glyphes).
   Régénérable via scripts/build_fonts.py. */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/inter-400-latin.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00A7, U+00A9, U+00AB, U+00AE, U+00B0-00B1, U+00B7, U+00BB, U+00C0-00CF, U+00D1-00D7, U+00D9-00DC, U+00E0-00EF, U+00F1-00F7, U+00F9-00FC, U+00FF, U+0152-0153, U+2013-2014, U+2018-2019, U+201C-201D, U+2022, U+2026, U+2039-203A, U+20AC, U+2122;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/inter-500-latin.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00A7, U+00A9, U+00AB, U+00AE, U+00B0-00B1, U+00B7, U+00BB, U+00C0-00CF, U+00D1-00D7, U+00D9-00DC, U+00E0-00EF, U+00F1-00F7, U+00F9-00FC, U+00FF, U+0152-0153, U+2013-2014, U+2018-2019, U+201C-201D, U+2022, U+2026, U+2039-203A, U+20AC, U+2122;
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/inter-600-latin.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00A7, U+00A9, U+00AB, U+00AE, U+00B0-00B1, U+00B7, U+00BB, U+00C0-00CF, U+00D1-00D7, U+00D9-00DC, U+00E0-00EF, U+00F1-00F7, U+00F9-00FC, U+00FF, U+0152-0153, U+2013-2014, U+2018-2019, U+201C-201D, U+2022, U+2026, U+2039-203A, U+20AC, U+2122;
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/playfair-display-500-latin.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00A7, U+00A9, U+00AB, U+00AE, U+00B0-00B1, U+00B7, U+00BB, U+00C0-00CF, U+00D1-00D7, U+00D9-00DC, U+00E0-00EF, U+00F1-00F7, U+00F9-00FC, U+00FF, U+0152-0153, U+2013-2014, U+2018-2019, U+201C-201D, U+2022, U+2026, U+2039-203A, U+20AC, U+2122;
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/playfair-display-700-latin.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00A7, U+00A9, U+00AB, U+00AE, U+00B0-00B1, U+00B7, U+00BB, U+00C0-00CF, U+00D1-00D7, U+00D9-00DC, U+00E0-00EF, U+00F1-00F7, U+00F9-00FC, U+00FF, U+0152-0153, U+2013-2014, U+2018-2019, U+201C-201D, U+2022, U+2026, U+2039-203A, U+20AC, U+2122;
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/playfair-display-900-latin.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00A7, U+00A9, U+00AB, U+00AE, U+00B0-00B1, U+00B7, U+00BB, U+00C0-00CF, U+00D1-00D7, U+00D9-00DC, U+00E0-00EF, U+00F1-00F7, U+00F9-00FC, U+00FF, U+0152-0153, U+2013-2014, U+2018-2019, U+201C-201D, U+2022, U+2026, U+2039-203A, U+20AC, U+2122;
}
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/playfair-display-500-italic-latin.woff2) format('woff2');
  unicode-range: U+0020-007E, U+00A7, U+00A9, U+00AB, U+00AE, U+00B0-00B1, U+00B7, U+00BB, U+00C0-00CF, U+00D1-00D7, U+00D9-00DC, U+00E0-00EF, U+00F1-00F7, U+00F9-00FC, U+00FF, U+0152-0153, U+2013-2014, U+2018-2019, U+201C-201D, U+2022, U+2026, U+2039-203A, U+20AC, U+2122;
}
